<%- include('partials/header') %>
<div class="container my-5">
  <h1 class="text-center">Welcome!</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <p class="card-text">View your Products here.</p>
          <a href="https://sultans-garage.vercel.app//products" class="btn btn-primary">View Stats</a>
        </div>
      </div>
    </div>
      </div>
  <div class="text-center mt-4">
    <!-- Home Button -->
    <a href="https://sultans-garage.vercel.app/" class="btn btn-success btn-lg">Go to Home</a>
  </div>
</div>
<%- include('partials/footer') %>
