<%- include('partials/header') %>
<div class="container my-5">
  <h1 class="text-center">Welcome!</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistics</h5>
          <p class="card-text">View your stats here.</p>
          <a href="#" class="btn btn-primary">View Stats</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tasks</h5>
          <p class="card-text">Manage your tasks here.</p>
          <a href="#" class="btn btn-primary">View Tasks</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Messages</h5>
          <p class="card-text">Check your messages.</p>
          <a href="#" class="btn btn-primary">View Messages</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <!-- Home Button -->
    <a href="http://localhost:5173" class="btn btn-success btn-lg">Go to Home</a>
  </div>
</div>
<%- include('partials/footer') %>
